.page {
  min-height: 100vh;
  background: #fff;
  color: #111;
}

.templatePage {
  min-height: 100vh;
  font-family: var(--font);
  background: #fff;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

.templatePage * {
  box-sizing: border-box;
}

.templatePage a {
  text-decoration: none;
  color: inherit;
}

.templatePage button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}
